{% extends "base.html" %}

{% block content %}
      <script>
function myfunction(type, img){
    const imageBox = document.getElementById('image-box_2')
    imageBox.innerHTML = `<div class="load_process_2"><br /><br /><br /><br /><br /><br /><p>Analyzing the image</p><div id="loading"></div></div>`
    let url = "{% url 'quantities' %}".replace('ok', type);
    const alertBox = document.getElementById('alert-box_2')
    alertBox.innerHTML = ''


    $.ajax({
      method: 'POST',
      url: url,

      data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          variavel: img
      },
      success: function(response) {
         console.log(response)
         imageBox.innerHTML = ``
         alertBox.innerHTML = `
                            <div class="alert alert-success" role="alert"> Result:  ${response.message}</div>
                            <img src="media/images/`+img+`.png" class="image_upada_cls">

                            <div class="classificacao_img_cls">
                                            <ul>
                                                    <li class="${response.item_0}"><b>Stage 0</b>: No diabetic retinopathy.</li>
                                                    <li class="${response.item_1}"><b>Stage 1</b>: Mild nonproliferative diabetic retinopathy.</li>
                                                    <li class="${response.item_2}"><b>Stage 2</b>: Moderate nonproliferative diabetic retinopathy.</li>
                                                    <li class="${response.item_3}"><b>Stage 3</b>: Severe nonproliferative diabetic retinopathy.</li>
                                                    <li class="${response.item_4}"><b>Stage 4</b>: Proliferative diabetic retinopathy.</li>
                                            </ul>
                             </div>`
      }


  });




  }
      </script>
<style>

</style>
<main>
<h3>Image analysis system based on artificial neural networks</h3>
    <br />
    <p>Diabetic retinopathy (DR) is one of the leading causes of preventable blindness globally, there are five stages of the disease: normal, mild, moderate, severe and PDR (Proliferative Diabetic Retinopathy).
        The manual diagnosis process of DR is tedious and prone to misdiagnosis unlike computer-aided diagnosis systems.

    The use of artificial intelligence techniques such as deep neural networks, more specifically, Convolutional Neural Networks are most widely used as a deep learning method in medical image analysis and are highly effective.
    </p>


    <p>In our research, we used publicly available retinal image datasets such as: <a href="https://www.kaggle.com/c/aptos2019-blindness-detection"  target="_blank">Asia Pacific Tele-Ophthalmology Society (APTOS)</a> , <a href="https://www.adcis.net/en/third-party/messidor2/"  target="_blank">Messidor-2</a> and <a href="https://ieee-dataport.org/open-access/indian-diabetic-retinopathy-image-dataset-idrid" target="_blank"> IDRID</a> to train, and subsequently combine, a set of five convolution neural networks  models, this combination has a result of getting 90% correct in a binary classification (normal or not normal), and 74% correct in the disease level ( mild, moderate, severe or PDR ). A trial version of our solution is available below</p>
  <input id="tab1" type="radio" name="tabs" class="i_radio" checked>
  <label for="tab1">Examples</label>

  <input id="tab2" type="radio" class="i_radio" name="tabs">
  <label for="tab2">Upload</label>

  <input id="tab3" type="radio" class="i_radio" name="tabs">
  <label for="tab3">About</label>



  <section id="content1">
<br /><br />
      <h5>Example images:</h5>
      <br /><br />
      <div id="barra_imagens">
              <div class="item_classifier"> <a href="#" onclick="myfunction('forward', '0');"><img class="img_classifier_link" src="media/images/0.png" /> <p>Level 0</p></a></div>
              <div class="item_classifier"> <a href="#" onclick="myfunction('forward', '1');"><img class="img_classifier_link" src="media/images/1.png" /> <p>Level 1</p></a></div>
              <div class="item_classifier"> <a href="#" onclick="myfunction('forward', '2');"><img class="img_classifier_link" src="media/images/2.png" /> <p>Level 2</p></a></div>
              <div class="item_classifier"> <a href="#" onclick="myfunction('forward', '3');"><img class="img_classifier_link" src="media/images/3.png" /> <p>Level 3</p></a></div>
              <div class="item_classifier"> <a href="#" onclick="myfunction('forward', '4');"><img class="img_classifier_link" src="media/images/4.png" /> <p>Level 4</p></a></div>


      </div>
        <div id="image-box_2"></div>

        <div id="alert-box_2">

        </div>






  </section>

  <section id="content2">
      <br /><br />
      <h5>Upload image and get analysis</h5>
      <br /><br />

    <div id="alert-box"></div>
    <div id="image-box"></div>
    <br>



</script>

    <form action="" id="upload-form">
        {% csrf_token %}
        {{form.as_p}}
    </form>
    <br>
    <div id="progress-box" class="not-visible">progress</div>
        <div id="cancel-box" class="not-visible">
        <button id="cancel-btn" class="btn btn-danger">cancel</button>
            <br /><br /><br />
            </div>
    <a id="link_download" href="https://github.com/tfs4/Sample_retinal_fundus_images/blob/main/sample.zip?raw=true">Download some sample images</a>
  </section>

  <section id="content3">


      <p>O que é Lorem Ipsum?</p>
      <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>



  </section>


</main>







{% endblock content %}
